populateDB/commands
populateDB/package-lock.json
bu_backend/src/config/config.js
bu_json_maker/__pycache__
bu_backend/package-lock.json
merkleTree/package-lock.json
node_modules/

venv
.venv

.idea
.vscode

*.log