/* activate toggle */
.accordion_item {
  margin-top: 15px;
  
}
.accordion_item .label {
  background-color: white;
  border: 5px solid black;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}
.accordion_item.active .label {
  background-color: #105057;
  
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
}
.answer_wrapper.open {
  height: auto;
}

.container {
  border: 2px solid black;
  background-color: rgb(104, 221, 8);
}